src/main/resources/schemas/persons-complex-output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personSummary" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="personId" type="xs:positiveInteger"/>
                            <xs:element name="fullName" type="xs:string"/>
                            <xs:element name="country" type="xs:string"/>
                            <xs:element name="riskLevel" type="xs:string"/>
                            <xs:element name="adult" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="errors" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="error" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="personId" type="xs:positiveInteger"/>
                                        <xs:element name="message" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:attribute name="successCount" type="xs:nonNegativeInteger" use="required"/>
            <xs:attribute name="errorCount" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
