src/main/resources/schemas/persons-output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personSummary" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="personId" type="xs:positiveInteger"/>
                            <xs:element name="fullName" type="xs:string"/>
                            <xs:element name="contactEmail" type="xs:string"/>
                            <xs:element name="adult" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
